@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.form-header {
  color: white;
  margin-bottom: 50px;
  font-family: "Courier New", Courier, monospace;
}
.form-container {
  /* height: 80vh; "'Lato', sans-serif"*/
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: pink; */
  margin: auto;
  font-family: "Lato", sans-serif;
  /* background-color: green; */
}

.form-house {
  height: 90vh;
  width: 40%;
  padding-top: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.211);
}

.my-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  border-radius: 3px;
  padding: 10px;
  height: 25px;
  font-size: 16px;
  width: 250px;
  outline: none;
}

textarea {
  width: 250px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
}

.form-btn {
  border: none;
  height: 40px;
  border-radius: 3px;
  border: 1px solid white;
  width: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.form-btn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.65);
}

.products-section {
  background-color: rgb(255, 255, 255);
  width: 35%;
  padding: 10px;
  /* height: 80%; */
}

.final-prod {
  font-size: 14px;
}
.products-input {
  background-color: red;
  /* color: green; */
  display: none;
}

@media (max-width: 600px) {
  input {
    width: 70%;
  }
  .form-house {
    height: 100vh;
    width: 90%;
    margin-bottom: 40px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* height: 100vh; */
  }
  .products-section {
    width: 85%;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .my-form {
    height: 90%;
    /* background-color: white; */
  }
}
